.header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets/images/header-background.png);
  /*your background image*/
  background-repeat: no-repeat;
  /*we want to have one single image not a repeated one*/
  background-size: cover;
  color: #fff;
  padding: 52px 110px 52px 110px;
  display: grid;
  row-gap: 30px;
  column-gap: 20px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr minmax(140px, 550px) 1fr;
}

.favourite-img:hover {
  fill: #fff;
}

.favourite-img:active {
  fill: #fff;
}

.cart-img:hover {
  fill: #fff;
}

.cart-img:active {
  fill: #fff;
}

.location-text-conatiner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.location-container {
  display: flex;
  align-items: center;

  gap: 5px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 2;
}

.location-text {
  font-size: 20px;
  font-family: "strong";
}

.logo {
  margin: 0 auto;
  grid-column: 2;
}

.phone-container {
  grid-column: 3;
  grid-row: 2;
  margin: auto;
  margin-right: 0;
  font-size: 20px;
  text-wrap: nowrap;
}

.input {
  width: 100%;
  background-color: black;
}

.input[type="text"] {
  font-size: 20px;
  background: transparent;
  border: none;
  color: white;
}

.input-container {
  padding: 10px 20px;
  grid-column: 2;
  grid-row: 3;
  display: flex;
  border: 2px solid white;
}

.panel-container {
  grid-column: 3;
  grid-row: 3;
  display: flex;
  justify-content: end;
  gap: 30px;
  align-items: center;
}

.burger-menu {
  display: none;
}

@media (max-width: 1350px) {
  .site-logo {
    width: 70px;
    height: 40px;
  }

  .location-img {
    width: 30px;
  }

  .location-text-conatiner {
    flex-direction: row;
    gap: 5px;
  }

  .header {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    padding: 10px;
    row-gap: 10px;
  }

  .panel-container {
    grid-column: 3;
    grid-row: 2;
  }

  .location-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    flex-direction: row;
  }

  .location-text,
  .phone-container {
    font-size: clamp(10px, 2vw, 20px);
  }

  .logo {
    grid-column: 2;
    grid-row: 2;
  }

  .phone-container {
    grid-column: 3;
    grid-row: 1;
    display: none;
  }

  .input-container {
    height: 25px;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 5px;
    display: flex;
    align-items: center;
  }

  .input[type="text"] {
    font-size: clamp(15px, 2vw, 30px);
  }

  .favourite-img {
    width: 25px;
  }

  .cart-img,
  .search-img {
    width: 22px;
  }

  .panel-container {
    gap: 15px;
  }
}

@media (max-width: 1024px) {
  .location-img {
    width: 10px;
  }
  .burger-menu {
    grid-column: 3;
    grid-row: 2;
    display: flex;
    justify-content: end;
    gap: 30px;
    align-items: center;
  }

  .ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 20px;
    margin: 0 auto;
    width: 193px;
  }

  .li {
    border-bottom: 1px solid #fff;
    width: 100%;
    text-align: center;
    font-family: strong;
    font-size: 10px;
  }

  .li a {
    padding-bottom: 6px;
    width: 100%;
    display: block;
  }

  .logo {
    z-index: 11;
  }

  .burger-menu button {
    z-index: 11;
  }

  .burger-content {
    overflow: hidden;
    transition: all 1.6s;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 316px;
    right: 0;
    left: 0;
    top: 0;
    background-color: #1e1e1e;
  }

  .panel-container {
    display: none;
  }
}
