.NewsBlock-container {
  max-width: clamp(240px, 5vw, 392px);
}

.image {
  width: 100%;
  max-width: clamp(152px, 5vw 405px);
  height: clamp(147px, 5vw, 392px);
  margin-bottom: clamp(22px, 5vw, 32px);
}
.description-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description {
  display: flex;
  flex-direction: column;
  gap: clamp(5px, 5vw, 6px);
}
.description h3 {
  color: white;
  font-size: clamp(10px, 2vw, 35px);
  font-family: interRegular;
}
.description p {
  color: white;
  font-size: clamp(10px, 2vw, 35px);
  font-family: strong;
}
.image-arrow-right {
  width: clamp(29px, 5vw, 48px);
  height: clamp(29px, 5vw, 48px);
}
